button {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #293fad;
    font-size: 15px;
    background: #f3f2f5;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
body{
    background: rgb(30,28,97);
background: linear-gradient(90deg, rgba(30,28,97,1) 55%, rgba(94,75,162,1) 79%);
color:white;
}